<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Stefan vd</string>
	<key>Builder Version</key>
	<string>11601.6.17</string>
	<key>CFBundleDisplayName</key>
	<string>Zoom</string>
	<key>CFBundleIdentifier</key>
	<string>com.stefanvd.zoom</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0.0.4</string>
	<key>CFBundleVersion</key>
	<string>2.0.0.4</string>
	<key>Chrome</key>
	<dict>
		<key>Database Quota</key>
		<real>10485760</real>
		<key>Global Page</key>
		<string>global.html</string>
		<key>Popovers</key>
		<array>
			<dict>
				<key>Filename</key>
				<string>popup.html</string>
				<key>Height</key>
				<integer>15</integer>
				<key>Identifier</key>
				<string>zoompopup</string>
				<key>Width</key>
				<integer>285</integer>
			</dict>
		</array>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string></string>
				<key>Identifier</key>
				<string>Zoom</string>
				<key>Image</key>
				<string>icon1.png</string>
				<key>Include By Default</key>
				<true/>
				<key>Label</key>
				<string>Zoom</string>
				<key>Palette Label</key>
				<string>Zoom</string>
				<key>Popover</key>
				<string>zoompopup</string>
				<key>Tool Tip</key>
				<string>Zoom</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>js/content.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Zoom in or out on web content using the zoom button for more comfortable reading.</string>
	<key>DeveloperIdentifier</key>
	<string>PRR97757HF</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>https://www.stefanvd.net/downloads/updates.plist</string>
	<key>Website</key>
	<string>https://www.stefanvd.net</string>
</dict>
</plist>
